*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Будет удалено libs/
Будет удалено src/main/java/
Будет удалено src/main/res/drawable/
